.three-block-para {
    height:140px;
}

.background-light {
    background-color: rgb(225, 228, 228);
  }

.services {
    margin: 1em;
    color: #777;
}

.owl-item{
    width: 100%;
}

.owl-stage-outer{
    width: 100%;
}